.ClockRoot
{
    width: 100%;
    height: 100%;
}

#ClockPanel
{
    width: 135px;
    height: 30px;

    vertical-align: bottom;
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 2px;

    margin-right: 5px;
    margin-left: 115px;
    margin-bottom: 15px;
}

#ClockTime
{
    color: white;
    font-size: 25px;
    font-family: Radiance;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000000;
    margin-left: 50%;
}

.Right
{
    horizontal-align: right;
}

.Flipped
{
    horizontal-align: left;
}
