@define RES_PANEL_WIDTH: 300px;
@define RES_PANEL_HEIGHT: 75px;
@define TITLE_FONT_SIZE: 25px;

#RootQuestsPanel
{
    width: 100%;
    height: 100%;
}

.RootQuestsPanel
{
    width: 100%;
    height: 100%;
}

.Hidden
{
    visibility: collapse;
    opacity: 0;
}

#TitlePanel
{
    height: 35px;
    width: RES_PANEL_WIDTH;

    horizontal-align: left;
    vertical-align: top;

    margin-top: 150px;
    //background-color: gradient(linear, 255px 0%, 10px 0%, from(transparent), to(black));
    //border: 1px solid red;
}

#TitlePanel Label
{
    margin-left: 75px;
    margin-right: 22px;

    color: gold;
    font-size: TITLE_FONT_SIZE;
    font-family: Radiance;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 1.5 #000000;
}

#QuestPanels
{
    height: 270px; // The game messages will always stay under this.
    width: RES_PANEL_WIDTH;

    horizontal-align: left;
    vertical-align: top;
    margin-top: 185px;

    //border: 1px solid white;
}

.QuestPanel
{
    width: RES_PANEL_WIDTH;
    vertical-align: top;
    text-shadow: 0px 0px 3px 1.5 #000000;

    //border: 1px solid green;
}
