@define RES_MARGIN_BOT: 120px;

.ResourcePanel
{
    width: 100%;
    height: 100%;

    vertical-align: bottom;
}

#Resources
{
    width: 21%;
    height: 19%;

    vertical-align: bottom;
    background-color: rgba(10, 10, 10, 0.7);
    
    border: 1px solid black;
    //border: 1px solid green;
    //background-color: gradient( linear, 10px 0%, 250px 5%, from(black), to(transparent) );
    //background-color: gradient( linear, 10px 0%, 400px 5%, from(transparent), to(black) );
}

.Hidden
{
    visibility: collapse;
    opacity: 0;
}

#ResourcesTitle
{
    margin-top: 5px;
    margin-left: 85px;
    margin-right: 85px;

    color: white;
    font-size: 25px;
    font-family: Radiance;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;
}

#LumberPanel
{
    //border: 1px solid red;

    width: 100px;
    height: 30px;

    vertical-align: bottom;
    //background-color: gradient(linear, 25px 100%, 5px 0%, from(transparent), to(grey));
    //background-color: gradient( linear, 10px 0%, 225px 0%, from( transparent ), to( black ) );

    margin-bottom: RES_MARGIN_BOT;
    margin-right: 25px;
    margin-left: 25px;
}

#GoldPanel
{
    width: 100px;
    height: 30px;

    vertical-align: bottom;
    //background-color: gradient(linear, 25px 100%, 25px 0%, from(grey), to(transparent));
    //background-color: gradient( linear, 10px 0%, 225px 0%, from( transparent ), to( black ) );
    //border: 1px solid red;

    margin-bottom: RES_MARGIN_BOT;
    margin-right: 160px;
    margin-left: 130px;
}

#LumberText
{
    color: green;
    font-size: 20px;
    font-family: Radiance;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;

    font-family: Radiance;
    margin-left: 38px;
    margin-top: 0px;
}

#GoldText
{
    color: gold;
    font-size: 20px;
    font-family: Radiance;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;

    font-family: Radiance;
    margin-left: 38px;
    margin-top: 0px;
}


#LumberIcon
{
    width: 30px;
    height: 22px;
    background-image: url("s2r://panorama/images/custom_game/lumber_icon.png");
    background-size: 100% 100%;
}

#GoldIcon
{
    width: 30px;
    height: 22px;
    background-image: url("s2r://panorama/images/custom_game/gold_icon.png");
    background-size: 100% 100%;
}

.Right
{
    horizontal-align: right;
}

.Flipped
{
    horizontal-align: left;
}
