.ResourcePanel
{
    width: 100%;
    height: 100%;
}

.Hidden 
{ 
    visibility: collapse;
    opacity: 0;
}

#LumberPanel
{
    width: 100px;
    height: 30px;
    
    vertical-align: bottom;
    background-color: gradient(linear, 25px 100%, 5px 0%, from(transparent), to(grey));

    margin-bottom: 155px;
    margin-right: 10px;
    margin-left: 10px;
}

#GoldPanel
{
    width: 100px;
    height: 30px;

    vertical-align: bottom;
    background-color: gradient(linear, 25px 100%, 25px 0%, from(grey), to(transparent));

    margin-bottom: 155px;
    margin-right: 110px;
    margin-left: 110px;
}

#LumberText
{
    color: green;
    font-size: 20px;
    font-family: Radiance;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;
    
    font-family: Radiance;
    margin-left: 38px;
    margin-top: 0px;
}

#GoldText
{
    color: gold;
    font-size: 20px;
    font-family: Radiance;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;
    
    font-family: Radiance;
    margin-left: 38px;
    margin-top: 0px;
}


#LumberIcon 
{	
    width: 30px; 
    height: 22px; 
    background-image: url("s2r://panorama/images/custom_game/lumber_icon.png"); 
    background-size: 100% 100%;
}

#GoldIcon
{
    width: 30px;
    height: 22px;
    background-image: url("s2r://panorama/images/custom_game/gold_icon.png");
    background-size: 100% 100%;
}

.Right
{
    horizontal-align: right;
}

.Flipped
{
    horizontal-align: left;
}