tools_thumbnail_cache.bin
settings.kv
*.vxml_c
*.vcss_c
*.vjs_c
*.vtex_c
*.lua#
*.vmesh_c
*.vmdl_c
*.vanim_c
*.vagrp_c
*.css#
*.js#
*.xml#
*.vpcf_c
*.txt#
*.vmat_c
game/dota_addons/forest_rts/scripts/vscripts/notes.txt
game/dota_addons/forest_rts/scripts/vscripts/Changes.txt
game/dota_addons/forest_rts/scripts/vscripts/notes_2.txt
content/dota_addons/forest_rts/panorama/node_modules/*
content/dota_addons/ui_example/*
content/dota_addons/nemestice/*
content/dota_addons/holdout/*
content/dota_addons/manyplayer_example/*
content/dota_addons/overthrow/*
content/dota_addons/npx_2019/*
content/dota_addons/manyplayer_example/*
content/dota_addons/workshop_testbed/*
content/dota_addons/holdout/panorama/*
content/dota_addons/rpg_example/*
content/dota_addons/ui_test/*